/*Reload onfly command+shift+R*/

body {
    background-color: #FFFFFF;
}

.material-icons.md-dark {
    /*position: fixed;
    right: 10px;*/
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.54);
}

.Container {
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
}

.App-header {
    background-color: #FFFFFF;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: #101820;
    font-family: 'Quicksand', sans-serif;
}

/* Layout styling */
.row {
    /*display: -webkit-flex;*/
    display: flex;
    width: 100%;
}

.column1 {
    background-color: #FFFFFF;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 5px;
}

.column2 {
    background-color: #FFFFFF;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 5px;
}

.column3 {
    background-color: #FFFFFF;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 5px;
}

footer {
    background-color: #FFFFFF;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #101820;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    padding: 10px 0px 10px;
}

.Img {
    display: inline-block;
    position: relative;
    max-width: 100%;
    height: auto;
    max-width: 450px;
    margin: 2px;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}